<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item logo"><img src="https://www.bpsf.org.hk/rc/uploads/2019/05/Banner.png" width="500" height="122"></a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <ul class="navbar-start">
                <li><a class="navbar-item">Home</a></li>
                <li><a class="navbar-item">About Us</a></li>
                <li class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">News</a>
                    <ul class="navbar-dropdown">
                        <li><a class="navbar-item">Events</a></li>
                        <li><a class="navbar-item">Newsletters</a></li>
                    </ul>
                </li>
            </ul>

            <div class="navbar-end">
            </div>
        </div>
    </div>
</nav>
