---
---

@use "bulma/sass" with (
    $primary: #1864ab
);

@use "bulma/sass/utilities/mixins";

.button.is-circular, .buttons.are-circular .button
{
    border-radius: 50%;
}

.navbar .container
{
    flex-direction: column;
}

.navbar-item.logo img
{
    max-height: revert;
}

.navbar-brand
{
    align-items: center;
    
    @include mixins.mobile
    {
        flex-direction: column;
    }
}

.navbar-burger
{
    @include mixins.mobile
    {
        margin-left: 0;
    }
}

.footer
{
    margin-top: 2rem;
}

#latest-news
{
    @include mixins.touch
    {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .card-content .content
    {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        
        @include mixins.until-widescreen
        {
            -webkit-line-clamp: 4;
        }
    }
}

