---
---

@use "bulma/sass/utilities" with (
    $primary: #1864ab
);

@forward "bulma/sass/base";
@forward "bulma/sass/components/card";
@forward "bulma/sass/components/dropdown";
@forward "bulma/sass/components/navbar";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/elements/icon";
@forward "bulma/sass/elements/image";
@forward "bulma/sass/elements/title";
@forward "bulma/sass/grid";
@forward "bulma/sass/layout/container";
@forward "bulma/sass/layout/footer";
@forward "bulma/sass/layout/hero";
@forward "bulma/sass/layout/section";

@forward "bulma/sass/themes";

@use "bulma/sass/utilities/mixins";

.button.is-circular, .buttons.are-circular .button
{
    border-radius: 50%;
}

.navbar .container
{
    flex-direction: column;
}

.navbar-item.logo img
{
    max-height: revert;
}

.navbar-brand
{
    align-items: center;
    
    @include mixins.mobile
    {
        flex-direction: column;
    }
}

.navbar-burger
{
    @include mixins.mobile
    {
        margin-left: 0;
    }
}

.footer
{
    margin-top: 2rem;
}

#latest-news
{
    @include mixins.touch
    {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .card-content .content
    {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        
        @include mixins.until-widescreen
        {
            -webkit-line-clamp: 4;
        }
    }
}

